<footer class="site-footer">
  <div class="wrap footer-inner">
    <div>
      <p class="footer-title">Rivelin Valley Allotment Society</p>
      <p>Roscoe Plantation Allotments<br>Rivelin Valley Road, Sheffield</p>
    </div>
    <div>
      <p class="footer-title">Get in touch</p>
      <p><a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a><br>
      Find us on Facebook: {{ site.Params.facebookName }}</p>
    </div>
    <div>
      <p class="footer-title">Allotments in Sheffield</p>
      <p><a href="https://www.sheffield.gov.uk/parks-sport-recreation/allotments" rel="noopener">Sheffield City Council allotments</a><br>
      <a href="https://www.nsalg.org.uk/" rel="noopener">National Allotment Society</a></p>
    </div>
  </div>
  <div class="wrap footer-note">
    <p>Building a community in the valley to promote gardening.</p>
  </div>
</footer>
